body{
	position: relative;
	height:1000px;
	width:100%;
	
}

.start{
	text-align: center;
}

.addNew{
	margin:auto;
	text-align: center;
	width:50%;
	margin-top: 10px;
	margin-bottom: 10px;

}

.submitBlog{
	visibility: hidden;
}

.submitChanges{
	visibility: hidden;
}


.addNew textarea{
	margin:10px;
	width: 400px;
	overflow: hidden;
}

.addNew label{
	display:block;

}

.newInput{
	display:none;
	animation-duration: 4s;

}

.blogPost{
	height:600px;
	width: 80%;
	margin: 20px;

}
.blogItem div{
	border:solid 1px black;
}

.addNew, .blogItem{
	display:none;
}